<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <tr>
        <th>id</th>
        <th>nombre</th>
        <th>apellido</th>
        <th>Email</th>
        <th>acciones</th>
    </tr>
    {% for i in personas %}
    <tr>
        <td>{{i['id']}}</td>
        <td>{{i['nombre']}}</td>
        <td>{{i['apellido']}}</td>
        <td>{{i['email']}}</td>
        <td>
            <button onclick="Edit({{i['id']}})"> Editar</button>
        </td>
    </tr>
    {% endfor %}
</table>
<h1>Total registros: {{totalRegistros}}</h1>

<script>
    const Edit = (id) =>
    {
    alert(id)
    }
</script>
</body>
</html>