{% extends '/layout/header.html' %}


{% block content %}

<form action="{{url_for('index')}}" method="POST">
    <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Example input">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Another input">
    </div>
       <div class="form-group">

        <input type="submit" value="Enviar" ">
    </div>
</form>

{% endblock %}